.title {
    font-weight: bold;
}
.totalPrice {
    text-align: right;
}
.price {
    text-align: left;
}

.total {
    display: flex;
    justify-content: flex-end;
}

tbody tr:nth-child(odd) {
    background: #eee;
}
